body{
	overflow:hidden;
}

.page{
	width:100%;
	height:100%;
	position:absolute;
	text-align:center;
	overflow: hidden;
}

.page-current{
	z-index:1;
}

.hide{ display:none;}

.arrow-up{
	height:auto;
	width:25px;
	position:absolute;
	left:50%;
	top:92%;
	margin-left:-12px;
	z-index:99;
}


/*music*/
#audioPlay {
  width:38px;
  height: 38px;
  background-image: url("../img/music.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: absolute;
  top: 5%;
  right: 5%;
  z-index: 9999999;
-webkit-tap-highlight-color:transparent; 
}


